* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: red solid 1px;
}

:root {
  font-size: 18px;
}


body
{
    height: 100vh;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    /* overflow: hidden; */
}

/* .webg{
  max-width: 100vw;
  maheight: 100vh;
} */

.webgl
{
    position: absolute; 
    top: 0;
    left: 0; 
    outline: none;
    max-width: 100%;
    max-height: 100%;
    z-index: 0;
    
}


nav{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    min-height: 8vh;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    z-index: 2;
  }
  
  .logo{
    color: rgb(204, 196, 196);
    letter-spacing: 2px;
    font-size: 1.5rem;
  }
  
  .nav-links{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    font-size: 2rem;
    width: 72%;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: rgb(204, 196, 196);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 0.8rem;
  }
  
  .nav-links .link {
    color: blue;
  }
  
  
  h4 a {
    text-decoration: none;
    color: rgb(204, 196, 196);
  }
  
  
  .nav-links a:active {
    color: rgb(22, 22, 199);
  }
  
  
  .burger{
    display: none;
    cursor: pointer; 
  }
  
  .burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(204, 196, 196);
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 1200px){
    .nav-links{
        width:60%
    }

  }
  
  @media screen and (max-width: 768px){
    
    .nav-links{
        width:60%
    }
  
  }
  
  
  @media screen and (max-width: 600px){
    body {
        overflow-x: hidden; 
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        gap: 5rem;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
  
    header h1 {
        font-weight: 900;
        font-size: 1rem;
        line-height: 75px;
        text-align: center;
        color: rgb(204, 196, 196);
        letter-spacing: 2px;   
    }
  
    .about-paragraph{
        font-size: 0.5rem;
        text-align:start;
        max-width: 100%;
        color: rgb(204, 196, 196);
        opacity: 0;
     }
  
     .about-title{
        
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 75px;
        text-align: start;
        color: rgb(204, 196, 196);
        letter-spacing: 2px;
    }
  
  }
  
  .nav-active{
    transform: translateX(0%);
  }
  
  @keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
  }
  
  .toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2{
    opacity: 0;
  }
  
  .toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
  
  }
  
  
  
  /*=================================================BodySection================================================*/
  
  .header-container {
    height: calc(100vh - 72px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
  }

  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  
  .header-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 25%;
     
  
  }
  
  header h1 {
     font-weight: 900;
     font-size: 2.5rem;
     line-height: 75px;
     text-align: center;
     color: rgb(204, 196, 196);
     letter-spacing: 2px;
  }
  
  .hero-content{
     margin-right: 20px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     margin-bottom: 20px;
     max-width: 100%;
     opacity: 0;
  }
  
  header p {
     font-size: 1rem;
     width: 800px;
     text-align: center;
     max-width: 100%;
     color: rgb(204, 196, 196);
  }
  
  
  button:hover {
    color: black; 
    background-color: rgb(205, 24, 24);
  }
  
  .body-section {
     display: flex;
     flex-direction: column;
  
  }
  
  .line {
    border-top: 3px solid rgb(204, 196, 196);
    padding-top: 3px;
    margin-left: 18px;
    max-width: 93%;
  }
  
  
  
  
                                                               
  /*=================================================AboutMeStyle===========================================*/
  
  .about-body {
     font-family: 'Poppins', sans-serif;
     background-color: rgb(0, 0, 0);
  }
  
  
  /* @media screen and (max-width: 600px){
    .about-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 200px; 
     }
  
  }
   */
  .about-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    
  }
  
  .body-wrapper {
    margin-left: 100px;
    margin-right: 100px;
    max-height: 100%;
   
  }
  
  .my-image {
    position: relative;
    max-width: 50vh; 
    background-color: rgb(185, 167, 167);
    max-height: 80%;
    margin-left: 50px;
    border-radius: 10%;
  }
  
  .about-header .img-border {
    position: relative;
    top: 0.7em;
    right: 0.7em;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 40vw;
    max-height: 100%;
    background-color: ;
  }
  
  .about-paragraph{
    font-size: 1rem;
    text-align:start;
    max-width: 100%;
    max-height: 100%;
    color: rgb(204, 196, 196);

  }
  
  .about-title{
     font-weight: 900;
     font-size: 2.5rem;
     line-height: 75px;
     text-align: start;
     color: rgb(204, 196, 196);
     letter-spacing: 2px;
     opacity: 0;
  }
  
  #about-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    text-align: start;
    opacity: 0;
  }
  
  @media only screen and (min-device-width : 350px) and (max-width: 600px) {
    .about-header {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px; 
        overflow: scroll;
    }
  
    .about-title{
      display: flex;
      justify-content: center;
        font-size: 1.5rem;
    }
  
    .about-paragraph{
        font-size: 0.7rem;
        text-align:start;
        max-width: 100%;
        color: rgb(204, 196, 196);
       overflow-y: scroll;
        opacity: 1;
     }
  
    .body-wrapper {
        margin-left: 20px; 
        margin-right: 20px; 
       
    }
  
    .my-image {
        width: 80%; 
        
        /* margin: 20px auto;  */
        border-radius: 0; 
    }
  
    .about-content {
        width: 100%; 
        text-align: center; 
        font-size: 1.2rem;
    }

    #about-btn {
      padding-top: 0px;
      /* padding-bottom: 50px; */
      max-width: 100%;
      text-align: center;
     
    }
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1290px) {
    .about-header {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 10px; 
  }

  .about-title{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
  }

  .about-paragraph{
      font-size: 0.7rem;
      text-align:center;
      max-width: 100%;
      color: rgb(204, 196, 196);
   }

  .body-wrapper {
      margin-left: 20px; 
      margin-right: 20px; 
  }

  .my-image {
      width: 80%; 
      margin: 20px auto; 
      border-radius: 0; 
      /* background-color: aqua; */
  }

  .about-content {
      width: 100%; 
      text-align: center; 
      font-size: 2rem;
  }

  #about-btn {
    padding-top: 0px;
    /* padding-bottom: 50px; */
    max-width: 100%;
    text-align: center;
   
  }

}
  
  
  /*==================================================CONTACTPAGE================================================*/
  
  .contact-info {
    display: flex;
    justify-content: center;
    gap: 1.9rem;
    height: 80vh;
    width: 100vw;
  }
  
  .left-section {
    display: flex;
    width: 40vw;
  }

  .contact-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    height: 100%;
    width: 100%;
  }
  
  .right-section{
    display: flex;
    align-items: center;
  }
  
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 40vw;
    border-radius: 13px;
    border: blue 2px solid;
  }
  
  .field-container{
    display: flex;
    justify-content: center;
    width: 70%;
  }
  
  .input-field {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 3rem;
    margin-top: 1.1rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: 2px solid blue;
    color: white;
    border-radius: 0.6rem;
    background-color: rgba(36, 41, 56, 1);
  }
  
  .textarea-field{
    height: 8.3rem;
    padding-top: 0.6rem;
  }
  
  h1 {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 4.2rem;
    text-align: start;
    color: rgb(204, 196, 196);
  }
  
  p {
    font-size: 1rem;
    text-align: start;
    max-width: 100%;
    color: rgb(204, 196, 196);
  }

 
  @media screen and (max-width: 600px){
    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
        width: 100vw;
     }

     .left-section {
      display: flex;
      width: 80vw;
    }

     .contact-icons {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      overflow-y: scroll;
    }
  
     form {
        margin: 1.9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 13px;
        border: blue 2px solid;
        width: 80vw;
        height: auto;
    }
  
  }
  
  .btn-btn {
    color: rgb(204, 196, 196);
    font-weight: 750;
    font-size: 0.7rem;
    text-decoration: none;
    background-color: rgb(22, 22, 199);
    border: solid black;
    border-radius: 0.6rem;
    padding: 0.3rem 0.3rem;
    max-width: 100%;
    height: 1.9rem;
    width: 6.1rem ;
  }
  
  .btn {
    padding-top: 1.111rem;
    padding-bottom: 1.111rem;
    max-width: 100%;
    text-align: center; 
    text-decoration: none;
  }
  
  .btn a {
    text-decoration: none;
    color: rgb(204, 196, 196);
    font-size: 1em;
  }
  

  .social-icons {
   display: flex;
   justify-content: center;
  }

  .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 10px rgba(46, 3, 233, 0.425);;
    margin: 0 30px;
    border-radius: 40%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
  }

  .social-icons a .fab{
    font-size: 30px;
    line-height: 80px;
    position: absolute;
    z-index: 10;
    transition: color 0.5s;
  }

  .social-icons a:hover::after{
    top: 0;
  }
  
  .social-icons a:hover .fab{
    color: #fff;
  }

  .social-icons a:hover{
    transform: translateY(-10px);
  }

  .socials {
    margin: 0.7rem;
  }
  
  
  .contactIcon{
    display: flex;
    flex-direction: row;
  }
  
  .contactPar {
    text-align: center;
    margin-left: 0.5rem;
    padding-top: 0.4rem;
    font-size: 1rem;
  }
  
  
  
  /*--------------------------------------------------Skills----------------------------------------------------*/
  
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
  }
  
  .skill1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9rem;
    width: 100%;
  }
  
  .skill2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9rem;
    width: 100%;
  }
  
  .par {
    color: rgb(204, 196, 196);
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  
  .line4 {
    border-top: 3px solid rgb(204, 196, 196);
    padding-top: 3px;
     margin-left: 50px;
    margin-right: 21%;
    margin-left: 21%;
  }
  
  .react {
    display: flex;
    flex-direction: column;
  }
  
  .react-par{
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  
  /*================================================PROJECTS============================================*/
   
  .projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  


  #project-heading {
    height: 10rem;
    padding-top: 3rem;
    font-size: 2rem;
    z-index: 2;
  }
  
  .project-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.2rem;
    align-items: center;
    height: 80vh;
    width: 100vw;
    padding-bottom: 10rem;
    opacity: 0;
  }
  
  .view-github a {
    text-decoration: none;
    color: rgb(204, 196, 196);
    
  }
  
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(245, 234, 234, 1);
    height: 350px;
    width: 18vw;
    border-radius: 0.9rem;
    border: solid black 2px;
    box-shadow: 0px -2px 5px blue;
  }

  @media screen and (max-width: 600px) {
    .cards {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-color: rgba(245, 234, 234, 1);
      height: 350px;
      width: 40%;
      border-radius: 0.9rem;
      border: solid black 2px;
      box-shadow: 0px -2px 5px blue;
    }
    
    .content-card .card-par{
      font-size: 0.5em;
    }

    .content-card .github{
      font-size: 0.7em;
    }

    .view-github .github{
      font-size: 0.7em;
    }
  }
  
  
  .image-container{
    height: 200px;
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
  }

  .cards-images{
    height: 100%;
    width: 100%;
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }

  .content-card {
    display: flex;
    flex-direction: column;
    border-top: dashed black 1px;
    height: 120px;
    max-width: 100%;
    padding: 0.1rem;
  }
  
  .card-par {
    text-align: center;
    color: black;
    font-size: 0.7rem;
  }
  
  .view-github {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 65, 180, 1);
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    border-bottom: solid black 2px;
    border-left: solid rgba(20, 65, 180, 1) 2px;
    border-right: solid rgba(20, 65, 180, 1) 2px;
  
  }
  
  .github {
    text-align: center;
    color: black;
    /* padding-top: 4%; */
    font-weight: 900;
  } 





/* 
  
.projects-container{
  display: flex;
  justify-content: center;
  gap: 25px;
}
.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 100px;
}
  
.card{
  width: 325px;
  background-color: antiquewhite;
  border-radius: 10px;
  overflow: hidden;
}

.card img{
  width: 100%;
  height: 40%;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
  object-fit: cover;
}
 */
  