* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
    /* border: white solid 1px; */
}

body{ 
    /* background-color: #2a2b32; */
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    
}

nav{
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
    align-items: center;
    min-height: 8vh;

    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    /* background-color:#2a2b32; */
    background-color: rgb(0, 0, 0);

}

.logo{
    color: rgb(204, 196, 196);
    text-transform: uppercase;
    letter-spacing: 2px;
    /* font-size: 20px; */
    font-size: 1rem;

    /* margin-left: 40px; */
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    /* margin-right: 40px; */
    /* background-color: blanchedalmond; */
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(204, 196, 196);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 0.7rem;
}

.burger{
    display: none;
    cursor: pointer; 
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(204, 196, 196);
    margin: 5px;
    transition: all 0.3s ease;
}
 
@media screen and (max-width: 1300px){
    .nav-links{
        width:60%
    }
    
    
}

@media screen and (max-width: 768px){
    .nav-links{
        width:60%
    }
    
}


@media screen and (max-width: 600px){
    body {
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        /* background-color:#2a2b32; */
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);

}



/* Body Section */

.header-container {
    height: calc(100vh - 72px);
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .wrapper {
    width: 95%;
    margin: 0 auto;
}
 
 header {
    display: flex;
    justify-content: space-around;
    align-items: center;
     /* background-color:wheat; */
     padding-bottom: 20px;
     margin-top: 25%;
     /* letter-spacing: 1px; */

 }
 
 header h1 {
     /* font-family: "Poppins", sans-serif;
     font-style: normal; */
     font-weight: 900;
     font-size: 2.5rem;
     line-height: 75px;
     text-align: center;
     color: rgb(204, 196, 196);
     letter-spacing: 2px;
     
     /* max-width: ; */
    
 }
 
 .hero-content{
     margin-right: 20px;
     /* background-color: red; */
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     margin-bottom: 20px;
     max-width: 100%;
 }
 
 header p {
     font-size: 1rem;
     /* font-style: normal; */
 
     /* line-height: 42px; */
     /* color: #021718; */
     width: 800px;
     text-align: center;
     max-width: 100%;
     color: rgb(204, 196, 196);
     /* background-color: aqua; */
 }
 
 header button {
     color: rgb(204, 196, 196);
     font-weight: 750;
     font-size: 0.7rem;
     /* font-style: normal; */
     text-decoration: none;
     background-color: rgb(22, 22, 199);
     border: solid black;
     border-radius: 10px;
     padding: 6px 6px;
     margin-left: 43%;
     /* margin-top: 10px; */
     max-width: 100%;
     /* margin-right: 50%; */
 }
 
 .btn {
     /* background-color: bisque; */
     padding-top: 20px;
     padding-bottom: 20px;
     max-width: 100%;
     
 }
 
 .body-section {
     /* background-color: blueviolet; */
     display: flex;
     flex-direction: column;
 
 }


 .line {
    border-top: 2px solid rgb(204, 196, 196);
    padding-top: 3px;
 }